/* stylesheet for gowiki used by template files */

/* generic defines */

pre { font-family: monospace; }
.grey { color: #808080; }

h1 { font-size: 1.5em; margin-top: 1.5em; margin-bottom: 1em; font-weight:bold }
h2 { font-size: 1.17em; margin-top: 1.2em; margin-bottom: 0.8em; font-weight:bold }
h3 { font-size: 1.05em; margin-top: 1em; margin-bottom: 0em; font-weight:bold ; }

p { margin-top: 0.7em; margin-bottom: 0.7em; }

a 	  { color: #1828a8 }
a:visited { color: #404080 }
a:active  { color: red }
a[name]	  { position:relative; top:-2.5em; }
span.link { color: #1828a8; }

.nowrap { white-space: nowrap }

img.right { float: right; margin-left: 1em; }
img.left  { float: left; margin-right: 1em; }
img.inlinediagram { float: left; margin: 0.5em }
img.stone { vertical-align:bottom }

.warning { background-color:white;
	font-weight:bold;
	border:3px solid red;
	padding:0.7em; margin:2em; }

/* defines for wiki styles */

li { margin-top: 3pt; margin-bottom: 3pt; }
.indentation {  margin-left: 0.5em; padding-left: 1.5em;
		margin-top: 0.2em; margin-bottom: 0.2em;
		border-left:3px solid #e0e0f0;
		clear: both; }
.comment { color: #808080; font-size: 80% }

#toc,#subs {  margin-top: 0.8em; margin-bottom: 0.8em; }
#toc td, #subs td
	{ font-size: 0.9em; border: 1px solid #606080;
	  background-color: #e0e0f0; padding: 5px; vertical-align: top}

div.toc1 { margin-left: 0em; }
div.toc2 { margin-left: 1em; }
div.toc3 { margin-left: 2em; }

div.sidebarleft { float: left; margin-right: 1em; padding: 0.1em 0.5em; max-width: 35%;
	font-size: 0.9em; background: white; border: 1px solid #555; }
div.sidebarright { float: right; margin-left: 1em; padding: 0.1em 0.5em; max-width: 35%;
	font-size: 0.9em; background: white; border: 1px solid #555; }
/* IE hack for max-width */
* html div.sidebarleft { width: 17em; }
* html div.sidebarright { width: 17em; }

hr { clear:both;  }
div.hr { clear:both; margin-bottom:0.7em; }

div.diagram { float:left; padding: 5px 0 0 0; margin: 0 1em 1em 0;
	background: white; border: 1px solid silver; 
	text-align: center; font-size: 0.9em; position:relative; }
div.diagram img {  }
div.diagclear { clear:both; margin-top:0.7em }

table { font-size: 0.99em }	/* fix rounding error by Mozilla */

table.wiki { background: white;
	caption-side: bottom;
	border: 1px solid black;
	margin: 1em 1em 0.2em 1em }
table.wiki th { background: #cccccc;
	font-weight: bold; font-size: 1.1em; }
table.wiki tr.odd { background: #f4f4f4 }
table.wiki caption { font-size: 0.9em }


/* defines for browse view */

#browse {
	margin:0;
	padding:0;
	color:black;
	line-height: 1.25;
	font-size: 86%;
	font-family: sans-serif;
}

#contentpane {
	margin: 0 0 0 11.5em;
	padding: 0.5em 1.5em 0.5em 1.5em;
	}

#contentwrapper {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	}

#leftpane {
	position:absolute;
	top:0;left:0;
	width: 11.5em;
	margin: 0;
	text-align: center;
	border-right: 1px solid #ffe;
	padding: 0.5em 0 1em 0;
	overflow: hidden;
	}


/* content pane defines */

#pagetitle {
	font-size:1.6em;
	font-weight:bold;
	margin:0.2em 0 0 0
	}

#pageheaders {
	font-size: 0.8em;
	text-align: right;
	clear: both;
	}

div.path {
	font-size: 0.8em;
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-top: 0.7em; }

#pgfooter {
	background-color:white;
	margin-top:1em; padding:5px 0px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	text-align:center;
	}


/* defines for left pane */

#leftpane div {
	background-color:#ffe;
	border:1px solid #eeb;
	margin-left:0.25em;
	margin-right:0.25em;
	}
#bookmarks {
	margin-top:0.7em;
	padding:0.5em 0;
	line-height:110%;
	font-size: 0.9em;
	font-weight: bold;
	}
#related {
	margin-top:0.7em;
	padding:0 0.2em;
	line-height: 105%;
	font-size: 0.9em;
	}
