/* stylesheet for gowiki used by template files */

/* generic defines */

h1 { font-size: 1.5em; margin-top: 1.5em; margin-bottom: 1em; font-weight:bold }
h2 { font-size: 1.17em; margin-top: 1.2em; margin-bottom: 0.8em; font-weight:bold }
h3 { font-size: 1.05em; margin-top: 1em; margin-bottom: 0em; font-weight:bold ; }

p { margin-top: 0.7em; margin-bottom: 0.7em; }

a 	  { color: #1828a8 }
a:visited { color: #404080 }
a:active  { color: red }
a[name]	  { position:relative; top:-2.5em; }
span.link { color: #1828a8; }

.nowrap { white-space: nowrap }

img.right { float: right; margin-left: 1em; }
img.left  { float: left; margin-right: 1em; }

/* defines for wiki styles */

li { margin-top: 3pt; margin-bottom: 3pt; }
.indentation {  margin-left: 0.5em; padding-left: 1.5em;
		margin-top: 0.2em; margin-bottom: 0.2em;
		border-left:3px solid #e0e0f0;
		clear: both; }
.comment { color: #808080; font-size: 80% }

#toc,#subs {  display: none; }
div.editsection { display:none; }

div.sidebarleft { float: left; margin-right: 1em; padding: 0.1em 0.5em; max-width: 35%;
	font-size: 0.9em; background: white; border: 1px solid #555; }
div.sidebarright { float: right; margin-left: 1em; padding: 0.1em 0.5em; max-width: 35%;
	font-size: 0.9em; background: white; border: 1px solid #555; }
/* IE hack for max-width */
* html div.sidebarleft { width: 17em; }
* html div.sidebarright { width: 17em; }

hr { clear:both;  }
div.hr { clear:both; margin-bottom:0.7em; }

div.diagram { float:left; padding: 5px 0 0 0; margin: 0 1em 1em 0;
	background: white; border: 1px solid silver; 
	text-align: center; font-size: 0.9em; position:relative; }

div.diagclear { clear:both; margin-top:0.7em }

/* defines for browse view */

#leftpane,
div.path { display:none; }


/* content pane defines */

#pagetitle {
	font-size:1.6em;
	font-weight:bold;
	margin:0.2em 0 0 0
	}

#pageheaders {
	font-size: 0.8em;
	text-align: right;
	clear: both;
	}

#pgfooter {
	margin-top:1em; padding:5px 0px;
	border-top:2px solid black;
	border-bottom:2px solid black;
	}
